<html>
    <head>
        <title>Vehical Mileage Calculator</title>
        <h1 style="color:black;">
            DIVYA S (25013279)
        </h1>
        <style type="text/css">
        body
{
    background-color:red;
}
.edge {
width:1440px;
margin-left:auto;
margin-right:auto;
padding top: 250px;
padding-left:300px;
}
.box {
display:block;
border:Thick dashed lime;
width:500px;
min-height:300px;
font-size: 20px; 
background-color:blue;
}
.formelt{ 
    color:orange; 
    text-align: center; 
    margin-top: 7px; 
    margin-bottom: 6px;
}
h1
{
color:rgb(255,0,179);
text-align:center;
padding-top: 20px;
}    
</style>
</head>
<body>
    <div class="edge">
    <div class="box">
    <h1>Mileage Calculator</h1>
    <form method="POST">
    {% csrf_token %}
    <div class="formelt">
        Distance : <input type="text" name="distance" value="{{d}}"></input>(in km)<br/>
    </div>
    <div class="formelt">
        Fuel : <input type="text" name="fuel" value="{{f}}"></input>(in litres)<br/>
    </div>
    <div class="formelt">
        <input type="submit" value="calculate"></input><br/>
    </div>
    <div class="formelt">
       Mileage :<input type="text" name="mileage" value="{{mileage}}"></input>km/1<sup>2</sup><br/>
    </div>
    </form>
    </div>
    </div>
</body>
</html>